.heading {
    display: flex;
    height: 100px;
    background-color: black;
    font-size: 50px;
    color: aliceblue;
    align-items: center;
}

.heading > h1 {
    margin: 20px;
}

.maincontainer {
    display: flex;
    align-items: stretch;
    min-height: calc(100vh - 100px);
}

.sideMenu {
    background-color: rgba(226, 211, 211, 0.425);
    flex-basis: 15vw;
    min-width: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}

.todayWeekContainer {
    width: 80%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#today {
    margin-bottom: 20px;
}
#today, #week {
    width: 100%;
    height: fit-content;
}

#today:hover, #week:hover {
    background-color: bisque;
    cursor: pointer;
}

#project {
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}

#addProjectButton:hover {
    background-color: bisque;
    cursor: pointer;
}


/* Add Projects Form styling */
.addCancelContainer {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: 80%;
}

#addProjectForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#addProjectInput {
    width: 90%;
}

#addProjectSubmit, #addProjectCancel {
    border: black;
    border-width: 1px;
    border-style: solid;
    font-size: 20px;
}
#addProjectSubmit:hover, #addProjectCancel:hover {
    background: rgba(26, 164, 255, 0.774);
    cursor: pointer;
}

/* Projects styling */

#projectsContainer {
    width: 75%;
}
.project {
    width: 100%;
    /* border: 1px black solid; */
    margin: 3px;
    height: 25px;
    text-align: left;
}

.project:hover {
    cursor: pointer;
    background-color: aqua;
}

/* Tasks Styling */
.tasksContainer {
    flex-basis: 85vw;
    text-align: center;
    font-size: 30px;
}

#tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
}